/* Navbar personalitzada */
.navbar-custom {
    background-color: #338b85;
}

.navbar-brand-custom img {
    height: 40px; /* Alçada de la barra */
    margin-right: 10px; /* Afegeix un marge entre la imatge i el text */
}

.navbar-brand-custom .navbar-text {
    color: white; /* Color del text en blanc */
    font-weight: bold; /* Text en negreta */
}

/* Secció amb fons */
.principal {
    background-color: ghostwhite;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Alçada mínima de pantalla completa */
    padding: 80px 0;
    color: black;
    text-align: center; /* Alineació del text centrada */
}

/* Media query per a mòbils */
@media (max-width: 768px) {
    .principal {
        padding: 50px 0; /* Reduir el padding en dispositius més xicotets */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navbar-brand-custom .navbar-text {
        font-size: 1.2rem; /* Ajustar la mida de la font per a pantalles petites */
    }

    .navbar-brand-custom img {
        height: 30px; /* Ajustar la mida del logo en dispositius mòbils */
    }
}

/* Estil per a la línia de separació amb imatge ornamental */
.separator-section {
    position: relative;
    margin: 40px 0;
}

.separator-section .ornamental {
    border: 0;
    height: 50px;
    background: url('imatges/detalls/lineaornament.png') no-repeat center center;
    background-size: auto;
}

/* Estil per a la data */
.date {
    font-size: 2rem;
    color: #338b85;
    font-family: 'Allura', cursive;
}

/* Ajustos per a pantalles més petites */
@media (max-width: 576px) {
    .date {
        font-size: 1.5rem; /* Reduir la mida de la data per a pantalles petites */
    }

    .separator-section {
        margin: 20px 0;
    }

    .separator-section .ornamental {
        height: 30px; /* Ajustar la mida de la línia ornamental */
    }
}

/* Peu de pàgina */
.footer-custom {
    background-color: #208d68;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-custom .nav-link {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-custom .nav-link:hover {
    color: #d3d3d3;
}

/* Fonts */
.allura-font { font-family: 'Allura', cursive; }
.montserrat-font { font-family: 'Montserrat', sans-serif; }

/* Estils de les cards */
.custom-card {
    border: 2px solid #208d68;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(32, 141, 104, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.custom-card .card-body {
    border-radius: 20px;
    padding: 20px;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(32, 141, 104, 0.4);
}

.custom-card .card-img-top {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.custom-card .card-title {
    color: #338b85;
    font-weight: bold;
    margin-bottom: 1rem;
}

.custom-card .card-text {
    color: #6c757d;
    font-size: 0.9rem;
    line-height: 1.6;
}

.custom-card .custom-btn {
    background-color: #338b85;
    border-color: #338b85;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.custom-card .custom-btn:hover {
    background-color: #1c534f;
}

/* Ajustos de les cards per a dispositius mòbils */
@media (max-width: 768px) {
    .custom-card {
        margin-bottom: 15px;
    }

    .custom-card .card-title {
        font-size: 1.3rem;
    }

    .custom-card .custom-btn {
        font-size: 0.9rem; /* Reduir la mida del botó */
    }
}

/* Carousel Definitiu */
.carousel-definitiu {
    box-shadow: 0 4px 8px rgba(32, 141, 104, 0.1);
    padding: 0;
    background-color: ghostwhite;
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transició suau */

}

/* Efecte hover - mou lleugerament el carousel cap amunt i afegeix més ombra */
.carousel-definitiu:hover {
    transform: translateY(-5px); /* Mou cap amunt */
    box-shadow: 0 8px 16px rgba(32, 141, 104, 0.4); /* Afegir ombra més pronunciada */
}

/* Afegeix separació superior i inferior a les imatges del carousel */
.carousel-definitiu .carousel-item {
    padding-top: 20px; /* Separació superior */
    padding-bottom: 20px; /* Separació inferior */
    background-color: rgba(255, 255, 255, 0.2);
}

/* Ajustar que les imatges ocupen l'espai correctament */
.carousel-definitiu .carousel-item img {
    object-fit: contain;
    height: 400px;
    width: 100%;
}

/* Estils de les cites */
.carousel-definitiu-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #1c534f;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Allura', cursive;
    font-weight: bold;
}

/* Ajustos per a pantalles petites */
@media (max-width: 576px) {
    .carousel-definitiu .carousel-item img {
        height: 300px;
    }

    .carousel-definitiu-caption {
        font-size: 3.5vw;
        padding: 5px;
        width: 90%;
    }
}

/* Botons del carousel */
.carousel-definitiu .carousel-control-prev-icon,
.carousel-definitiu .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Punts indicadors */
.carousel-definitiu .carousel-indicators [data-bs-target] {
    background-color: #338b85;
}
