/* Navbar */
.navbar-custom {
    background-color: #208d68;
}

.navbar-brand-custom img {
    height: 40px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Añade un margen entre la imagen y el texto */
}

.navbar-brand-custom .navbar-text {
    color: white; /* Color del texto en blanco */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para la sección con imagen de fondo después del carrusel */
.principal {
    background-image: url('fondo.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
    min-height: 100vh; /* Altura mínima de pantalla completa */
    padding: 80px 0; /* Relleno superior e inferior */
    color: black; /* Color del texto */
    text-align: center; /* Alineación del texto centrada */
}

.principal h2 {
    font-size: 3rem; /* Tamaño de fuente grande */
    margin-bottom: 20px; /* Espacio inferior del título */
    display: block; /* Asegura que el h2 sea visible */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .principal {
        background-size: contain; /* Hace que la imagen se ajuste dentro del contenedor */
        background-position: top; /* Ajusta la posición de la imagen */
    }
}

/* Estilo del Carousel */
.carousel {
    height: 30vh; /* Altura del carousel: 30% de la altura visible del dispositivo */
    width: 100%; /* Ancho completo del carousel */
    overflow: hidden; /* Evitar que las imágenes se desborden del carousel */
}

.carousel-item img {
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    width: 100%; /* Ancho del 100% para cubrir completamente el contenedor del carousel item */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor sin distorsionar */
}

/* Footer */
.footer-custom {
    background-color: #247bc7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-custom .nav-link {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-custom .nav-link:hover {
    color: #d3d3d3;
}

/* Fonts */
.allura-font { font-family: 'Allura', cursive; }
.cinzel-font { font-family: 'Cinzel', serif; }
.cormorant-garamond-font { font-family: 'Cormorant Garamond', serif; }
.dancing-script-font { font-family: 'Dancing Script', cursive; }
.great-vibes-font { font-family: 'Great Vibes', cursive; }
.montserrat-font { font-family: 'Montserrat', sans-serif; }
.playfair-display-font { font-family: 'Playfair Display', serif; }
.roboto-font { font-family: 'Roboto', sans-serif; }
.sacramento-font { font-family: 'Sacramento', cursive; }
