/* Navbar personalitzada */
.navbar-custom {
    background-color: #338b85;
}

.navbar-brand-custom img {
    height: 40px;
    margin-right: 10px;
}

.navbar-brand-custom .navbar-text {
    color: white;
    font-weight: bold;
}

/* Secció amb fons */
.principal {
    background-color: ghostwhite;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 80px 0;
    color: black;
    text-align: center;
}

/* Media query per a mòbils */
@media (max-width: 768px) {
    .principal {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* Contenedor común para todas las secciones para garantizar coherencia */
.container-common {
    max-width: 1140px;  /* Asegura que todas las secciones tengan el mismo ancho máximo */
    margin: 0 auto; /* Centrar todas las secciones horizontalmente */
    padding: 20px; /* Relleno interno para dar espacio */
}

/* Sección ornamental - Igual a las cards */
.separator-section {
    background-color: white; /* Mismo color de fondo que las cards */
    border: 2px solid #208d68; /* Mismo borde que las cards */
    border-radius: 10px; /* Bordes redondeados como las cards */
    box-shadow: 0 4px 8px rgba(32, 141, 104, 0.1); /* Sombra igual que las cards */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px; /* Asegurando el mismo padding que las cards */
    margin: 40px 0; /* Margen coherente con las otras secciones */
}

.separator-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(32, 141, 104, 0.4);
}

.separator-section .ornamental {
    border: 0;
    height: 50px;
    background: url('imatges/detalls/lineaornament.png') no-repeat center center;
    background-size: auto;
    border-radius: 10px;
}

.date {
    font-size: 3.5rem;
    color: #338b85;
    font-family: 'Allura', cursive;
}

/* Estils de les cards */
.custom-card {
    border: 2px solid #208d68;
    border-radius: 10px;
    background-color: white; /* Fondo de las cards */
    box-shadow: 0 4px 8px rgba(32, 141, 104, 0.1); /* Sombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.custom-card .card-body {
    border-radius: 20px;
    padding: 20px;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(32, 141, 104, 0.4);
}

.custom-card .card-img-top {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.custom-card .card-title {
    color: #338b85;
    font-weight: bold;
    margin-bottom: 1rem;
}

.custom-card .card-text {
    color: #6c757d;
    font-size: 0.9rem;
    line-height: 1.6;
}

.custom-card .custom-btn {
    background-color: #338b85;
    border-color: #338b85;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.custom-card .custom-btn:hover {
    background-color: #1c534f;
}

/* Carousel Definitiu - Igual que les cards */
.carousel-definitiu {
    background-color: white; /* Fons igual que les cards */
    border: 2px solid #208d68; /* Vora igual que les cards */
    border-radius: 10px; /* Vores arrodonides com les cards */
    box-shadow: 0 4px 8px rgba(32, 141, 104, 0.1); /* Ombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px; /* Assegura el mateix padding que les cards */
    margin: 40px 0; /* Màrgen coherent amb les altres seccions */
}

.carousel-definitiu:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(32, 141, 104, 0.4);
}

.carousel-definitiu .carousel-item {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Les imatges del carousel també tenen voretes arrodonides */
.carousel-definitiu .carousel-item img {
    object-fit: contain;
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

/* Estils per a la capsa de la cita amb fons semitransparent */
.carousel-caption-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fons negre semitransparent */
    text-align: center;
    padding: 20px; /* Padding per crear espai intern */
    box-sizing: border-box;
    border-radius: 0 0 10px 10px; /* Vores arrodonides a la part inferior */
}

/* Estils per al text de la cita */
.carousel-caption h5 {
    color: #ffffff; /* Text en blanc */
    font-size: 1.8rem; /* Mida gran */
    margin: 0;
    font-family: 'Allura', cursive;
    font-weight: bold;
}

.carousel-caption p {
    color: #ffffff; /* Text blanc */
    font-size: 1rem; /* Mida del subtítol */
    margin-top: 10px; /* Separació superior entre el títol i el subtítol */
}

/* Estils per a pantalles petites */
@media (max-width: 576px) {
    .carousel-definitiu .carousel-item img {
        height: 300px;
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }

    .carousel-caption-box {
        padding: 10px;
    }
}

/* Botons del carousel */
.carousel-definitiu .carousel-control-prev-icon,
.carousel-definitiu .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Punts indicadors */
.carousel-definitiu .carousel-indicators [data-bs-target] {
    background-color: #338b85;
}
